In [11]:
import pandas as pd
import plotly as plt

In [12]:
df = pd.read_csv(r"C:\Users\Diego\OneDrive\Documentos\GIT\Cursos\Alura\Avançando em Data Science com Python\01 - Visualização de dados\01 - criando gráficos com bibliotecas Python\imigrantes_canada.csv")
df

,País,Continente,Região,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afeganistão,Ásia,Sul da Ásia,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albânia,Europa,Sul da Europa,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
2,Argélia,África,Norte da África,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,Samoa Americana,Oceânia,Polinésia,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europa,Sul da Europa,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Vietnã,Ásia,Sudeste Asiático,1191,1829,2162,3404,7583,5907,2741,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
191,Saara Ocidental,África,Norte da África,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
192,Iémen,Ásia,Ásia Ocidental,1,2,1,6,0,18,7,...,161,140,122,133,128,211,160,174,217,2985
193,Zâmbia,África,África Oriental,11,17,11,7,16,9,15,...,91,77,71,64,60,102,69,46,59,1677
194,Zimbábue,África,África Oriental,72,114,102,44,32,29,43,...,615,454,663,611,508,494,434,437,407,8598

In [13]:
df.set_index("País",inplace = True)

Criando dataframe referente ao Brasil

In [17]:
anos = list(map(str,range(1980,2014)))
brasil = df.loc["Brasil",anos]
brasil_dict = {"ano" : brasil.index.tolist(),"imigrantes": brasil.values.tolist()}
dados_brasil = pd.DataFrame(brasil_dict)

Criando dataframe referente a Argentina

In [18]:
anos = list(map(str,range(1980,2014)))
argentina = df.loc["Argentina",anos]
argentina_dict = {"ano" : argentina.index.tolist(),"imigrantes": argentina.values.tolist()}
dados_argentina = pd.DataFrame(argentina_dict)

     ano  imigrantes
0   1980         368
1   1981         426
2   1982         626
3   1983         241
4   1984         237
5   1985         196
6   1986         213
7   1987         519
8   1988         374
9   1989         538
10  1990         678
11  1991         763
12  1992        1023
13  1993        1022
14  1994         366
15  1995         380
16  1996         396
17  1997         391
18  1998         349
19  1999         318
20  2000         427
21  2001         635
22  2002         865
23  2003        1745
24  2004        1591
25  2005        1153
26  2006         847
27  2007         620
28  2008         540
29  2009         467
30  2010         459
31  2011         278
32  2012         263
33  2013         282

In [19]:
import plotly.graph_objs as go

dados_brasil['ano'] = dados_brasil['ano'].astype(int)
dados_argentina['ano'] = dados_argentina['ano'].astype(int)
# Criando uma figura
fig = go.Figure()

# Adicionando a linha do gráfico e definindo a espessura da linha
fig.add_trace(
    go.Scatter(
        x=[dados_brasil['ano'].iloc[0]], 
        y=[dados_brasil['imigrantes'].iloc[0]], 
        mode='lines', 
        name='Imigrantes do Brasil', 
        line=dict(width=4))
)

fig.add_trace(
    go.Scatter(
        x=[dados_argentina['ano'].iloc[0]], 
        y=[dados_argentina['imigrantes'].iloc[0]], 
        mode='lines', 
        name='Imigrantes da Argentina', 
        line=dict(width=4))
)
# Definindo as configurações de layout
fig.update_layout(
    title=dict(
        text='<b>Imigração do Brasil e da Argentinapara o Canadá no período de 1980 a 2013</b>',
        x=0.12,
        xanchor='left',
        font=dict(size=20)
    ),
    xaxis=dict(
        range=[1980, 2013], 
        autorange=False, 
        title='<b>Ano</b>'),
    yaxis=dict(
        range=[0, 3000], 
        autorange=False, 
        title='<b>Número de imigrantes</b>'),
    updatemenus=[dict(
        type='buttons',
        showactive=False,
        buttons=[dict(
            label='Play',
            method='animate',
            args=[None, {'frame': {'duration': 100, 'redraw': True}, 'fromcurrent': True}]
        )]
    )],
    width=1200, 
    height=600 
)

frames = []
# Definir as configurações de animação
for i in range(len(dados_brasil)):
    frame_data = [
        go.Scatter(
            x=dados_brasil['ano'].iloc[:i+1], 
            y=dados_brasil['imigrantes'].iloc[:i+1]
            ),
        go.Scatter(
            x=dados_argentina['ano'].iloc[:i+1],
            y=dados_argentina['imigrantes'].iloc[:i+1]
            )
    ]
    frame = go.Frame(data=frame_data)
    frames.append(frame)
fig.frames = frames

# Mostrando a figura
fig.show(renderer = "browser")

Exportando para arquivo HTML

In [20]:
fig.write_html("imigracao_brasil_e_argentina.html")